@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes MoveInfoLeft{
    from{
        margin-left: 100%;
    }
    to{
        margin-left: 20%;
    }
}