@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('animations.css');

body{
    background-color: black;
    color: wheat;
    font-family: 'Roboto', sans-serif;
}
.Header-Ribbon{
    text-align: left;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Outfit', sans-serif;
}
a{
    text-decoration: none;
}
.Info{
    text-align: center;
    margin-top: 20%;
    font-size: 25px;
}
.Copyright{
    margin-top: 19%;
    margin-left: 90%;
}
.fade-in-1{
    animation: fadeIn 5s;
    opacity: 1;
}
.fade-in-2{
    animation: fadeIn 7s;
    opacity: 1;
}
.Timer{
    font-size: 50px;
    animation: fadeIn 15s;
    opacity: 1;
    text-align: center;
    margin-top: 20%;
}